django==3.2.6
graphene==2.1.9
django-filter==2.0.0
django-graphql-jwt==0.2.1
PyJWT==1.7.0
django-cors-headers==3.0.2
beautifulsoup4==4.12.2
dj-database-url==0.3.0
dj-static==0.0.6
static3==0.6.1
whitenoise==3.3.1
gunicorn==19.7.1
six==1.16.0
sqlparse==0.4.1
django-utils-six==2.0
graphene-django==2.2.0
mysql-connector-python==8.0.32
django-mysql
requests